body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.name h1 {
    margin: 0;
    color: #fff;
}

.name h1 a {
    color: #fff;
    text-decoration: none;
}

.name h1 a:hover {
    color: #fff;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #006400;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"],
form input[type="password"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form input[type="submit"] {
    color: #fff;
    background-color: #007BFF;
    width: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: center;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    order: 1;
}

.checkbox-container label {
    order: 2;
    margin-left: 10px;
}

.dropdown-container {
    display: flex;
    align-items: baseline;
}

.dropdown-container select {
    width: 150px;
}

.dropdown-container label {
    margin-right: 10px;
}