body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.name h1 {
    margin: 0;
    color: #fff;
}

.name h1 a {
    color: #fff;
    text-decoration: none;
}

.name h1 a:hover {
    color: #fff;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #006400;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.add-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* reduced width */
    margin: 0 auto; /* center the container */
}

.add-password {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* make the link fill the container */
    text-align: center; /* center the text */
}

.add-password:hover {
    background-color: #0056b3;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* Style for search form */
.search-form {
    max-width: 500px;
    margin: 0 auto 20px; /* Add bottom margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex; /* Add this line */
    justify-content: space-between; /* Add this line */
    align-items: center; /* Add this line */
}

.search-form input[type="text"] {
    width: calc(100% - 20px - 120px); /* Subtract the padding and the width of the button from the width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form input[type="submit"] {
    color: #fff;
    background-color: #007BFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; /* Set a fixed width */
    display: inline-block;
    margin-left: 10px; /* Add left margin */
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the Edit link as a button with a blue background */
a[href*="edit_password"] {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70px; /* Set a fixed width */
    height: 30px; /* Set a fixed height */
    color: #fff;
    background-color: #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Add this line */
}

a[href*="edit_password"]:hover {
    background-color: #0056b3;
}

/* Style the Delete button with a red background and remove the border */
.delete-form {
    padding: 0; /* Remove padding from the form */
    border: none; /* Remove the default border */
}

.delete-form input[type="submit"] {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70px; /* Set a fixed width */
    height: 30px; /* Set a fixed height */
    color: #fff;
    background-color: #FF0000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
