<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <script src="{{ url_for('static', filename='scripts/add_password.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/add_password.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
</head>

<body>
    <header>
        <div class="name">
            <h1><a href="{{ url_for('view_passwords') }}">Zapp: The smart way to log in</a></h1>
        </div>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <h2>Add Password</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.website.label }}<br />
            {{ form.website(id='website', size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(id='password', size=32, oninput="updatePasswordStrength()") }}
            <span id="password_strength"></span>
        </p>
        <p>
            {{ form.length.label }}<br />
            {{ form.length(id='length', value=20, onchange="updatePassword(event)") }}
        </p>
        <p>
            {{ form.password_type.label }}<br />
            {{ form.password_type(id='password_type', onchange="updatePassword(event)") }}
        </p>

        <div id="random_password_options">
            <p>
                {{ form.include_uppercase(id='include_uppercase', onchange="updatePassword(event)") }}
                {{ form.include_uppercase.label }}
            </p>
            <p>
                {{ form.include_lowercase(id='include_lowercase', onchange="updatePassword(event)") }}
                {{ form.include_lowercase.label }}
            </p>
            <p>
                {{ form.include_numbers(id='include_numbers', onchange="updatePassword(event)") }}
                {{ form.include_numbers.label }}
            </p>
            <p>
                {{ form.include_special(id='include_special', onchange="updatePassword(event)") }}
                {{ form.include_special.label }}
            </p>
        </div>
        </div>
        <div id="passphrase_options">
            <p>
                {{ form.capitalize(id='capitalize', onchange="updatePassword(event)") }}
                {{ form.capitalize.label }}
            </p>
            <p>
                {{ form.add_numbers(id='add_numbers', onchange="updatePassword(event)") }}
                {{ form.add_numbers.label }}
            </p>
            <p class="dropdown-container">
                {{ form.separator.label }}
                {{ form.separator(id='separator', onchange="updatePassword(event)") }}
            </p>
        </div>
        <div class="button-container">
            {{ form.submit() }}
        </div>
    </form>
</body>

</html>