<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/register.css') }}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <header>
        <div class="name">
            <h1><a href="/">Zapp: The smart way to log in</a></h1>
        </div>
        <nav>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
    </header>
    <h2>Want to create a new account? Hurry up and Register!</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <div class="submit-button">
            <p>{{ form.submit() }}</p>
        </div>
    </form>
</body>

</html>