<!DOCTYPE html>
<html>

<head>
    <title>Verify 2FA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>

<body>
    <header>
        <div class="name">
            <h1><a href="/">Zapp: The smart way to log in</a></h1>
        </div>
        <nav>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
    </header>
    <h2>Enter your 2FA code</h2>
    <form action="" method="post">
        <p>
            <label for="2fa_code">2FA Code</label><br>
            <input type="text" id="2fa_code" name="2fa_code">
        </p>
        <div class="submit-button">
            <p><input type="submit" value="Verify"></p>
        </div>
    </form>
</body>

</html>