<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/view_passwords.css') }}">
    <script src="{{ url_for('static', filename='scripts/add_password.js') }}" defer></script>
</head>

<body>
    <header>
        <div class="name">
            <h1><a href="{{ url_for('view_passwords') }}">Zapp: The smart way to log in</a></h1>
        </div>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <h2>View Passwords</h2>
    <div class="center add-password-container">
        <a href="/add_password" class="add-password">Add Password</a>
    </div>
    <div class="list">
        <form method="get">
            <p>
                <label for="password_type">Password Type:</label>
                <select id="password_type" name="password_type" class="dropdown" onchange="this.form.submit()">
                    <option value="all" {{ 'selected' if password_type=='all' }}>All</option>
                    <option value="random" {{ 'selected' if password_type=='random' }}>Random</option>
                    <option value="passphrase" {{ 'selected' if password_type=='passphrase' }}>Passphrase</option>
                </select>
            </p>
        </form>
    </div>
    <form action="/view_passwords" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search by website">
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>No.</th>
            <th>Website</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for password in passwords %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ password.website }}</td>
            <td>{{ password.password }}</td>
            <td>
                <div class="action-button">
                    <a href="/edit_password/{{ password.id }}">Edit</a>
                </div>
            </td>
            <td>
                <div class="action-button">
                    <form action="/delete_password/{{ password.id }}" method="post" class="delete-form">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>